{
  "customSyntax": "postcss-scss",
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "import",
          "else",
          "use",
          "forward"
        ],
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "color-hex-length": "long",
    "length-zero-no-unit": true,
    "max-nesting-depth": [
      5,
      {
        "ignore": [
          "blockless-at-rules",
          "pseudo-classes"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "order/order": [
      {
        "type": "at-rule",
        "name": "import"
      },
      "custom-properties",
      "dollar-variables",
      {
        "type": "at-rule",
        "name": "function"
      },
      {
        "type": "at-rule",
        "name": "mixin"
      },
      {
        "type": "at-rule",
        "name": "extend"
      },
      {
        "type": "at-rule",
        "name": "include",
        "hasBlock": false
      },
      "declarations",
      {
        "type": "at-rule",
        "name": "if"
      },
      {
        "type": "at-rule",
        "name": "else"
      },
      {
        "type": "at-rule",
        "name": "include",
        "hasBlock": true
      },
      {
        "type": "at-rule"
      },
      {
        "type": "rule",
        "selector": "/^&:[\\w-]+$/"
      },
      {
        "type": "rule",
        "selector": "/^&::[\\w-]+$/"
      },
      "rules"
    ],
    "selector-class-pattern": ["^[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$", {}],
    "scss/dollar-variable-empty-line-before": [
      "always",
      {
        "ignore": ["after-dollar-variable"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["export"] }
    ]
  }
}
