@use "@/sass/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-unbounded;
  line-height: 1.3;
  text-rendering: optimizelegibility;
  background-color: $black-200;
  color: #FFFFFF;
}
