@import "@/sass/variables";
@import "@/sass/mixins";

.home {
  &__footer {
    padding: 20px 0;
    background-color: $black-100;

    @include media-up($media-sm) {
      padding: 32px 0;
    }

    .home__footer-social {
      @include media-between($media-sm, $media-md) {
        display: none;
      }
    }
  }

  &__footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include media-up($media-sm) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__footer-nav {
    flex-direction: column;
    align-items: center;

    @include media-up($media-sm) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__footer-logo {
    fill: $yellow-100;
  }
}
