@use "@/sass/variables" as *;
@use "@/sass/mixins" as *;

.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 20px;
  background-color: $black-100;
  border: 1px solid $gray-200;
  border-radius: 16px;

  @include media-up($media-md) {
    width: 100%;
    padding: 32px;
  }

  &__form {
    width: 100%;

    @include media-up($media-md) {
      width: 50%;
      max-width: 500px;
    }
  }

  &__title {
    max-width: 400px;
    margin-bottom: 24px;
    font-weight: 500;
    text-align: left;

    @include media-up($media-md) {
      margin-bottom: 40px;
    }
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 12px;
    margin-bottom: 24px;

    @include media-up($media-md) {
      margin-bottom: 32px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__input-wrapper {
    position: relative;
    flex-grow: 1;
  }

  &__input {
    flex-grow: 1;
    min-height: 48px;
    padding: 12px 16px;
  }

  &__textarea {
    flex-grow: 1;
    display: block;
    width: 100%;
    min-height: 96px;
    padding: 8px 16px;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 130%;
    font-family: $font-unbounded;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid $gray-200;
    border-radius: 8px;
    transition:
      border-color 0.25s ease-in-out,
      box-shadow 0.25s ease-in-out;

    &::placeholder {
      color: $gray-100;
    }

    &:focus {
      outline: none;
      border: 1px solid $yellow-100;
      box-shadow: 0 0 0 2px rgba($yellow-100, 0.25);
    }

    &--error, &--error:focus {
      border: 1px solid $red-100;
      box-shadow: 0 0 0 2px rgba($red-100, 0.25);
    }

    .contact-us__input-wrapper & {
      width: 100%;
    }
  }

  &__button {
    box-sizing: border-box;
    appearance: none;
    min-height: 48px;
    padding: 8px 12px;
    font-family: $font-unbounded;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &--submit {
      color: $black-100;
      border: 1px solid $yellow-100;
      background-color: $yellow-100;

      &:hover {
        background-color: rgba($yellow-100, 0.9);
      }
    }

    &--telegram {
      display: flex;
      gap: 8px;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      background: rgba($yellow-100, 0.08);
      border: 1px solid $yellow-100;
      font-size: 12px;
      text-decoration: none;

      @include media-up($media-md) {
        font-size: 14px;
      }

      &:hover {
        background: rgba($yellow-100, 0.24);
      }

      svg {
        fill: $yellow-100;
      }
    }
  }

  &__image {
    display: none;

    @include media-up($media-md) {
      display: block;
    }
  }

  &__error {
    position: absolute;
    top: 50px;
    left: 4px;
    font-size: 10px;
    color: $red-100;
  }
}
